3rd-party/boost
3rd-party/boost_*
agent/agent-config.h
agent/CMakeCache.txt
agent/Makefile
agent/cmake_install.cmake
agent/agent
agent/CMakeFiles
agent/lawnmower.pb.h
agent/lawnmower.pb.cc
client/lawnmowerc-config.h
client/CMakeCache.txt
client/Makefile
client/cmake_install.cmake
client/lawnmowerc
client/CMakeFiles
client/lawnmower.pb.h
client/lawnmower.pb.cc
tmp